@charset "UTF-8";

@keyframes colors{
	0%{color: #d1d1d1;}
	50%{color: #23a86d;}
	100%{color: #d1d1d1;}
}

.colors{
	animation: colors 20s infinite;
	animation-delay: .5s;
}

body{
	background-color: #2d2f31;
	color: rgba(209, 209, 209);
	font-family: Arial;
}

legend{
	color: rgba(209, 209, 209);	
}

form{
	width: auto;
	margin: auto 30px auto 30px;
	background: url('icone-formulario.png') no-repeat 200% 120%;
	display: block;
}

div#corpo{
	width: auto;
	margin: 0px 50px 0px 50px;
}


input, select{
	background-color: #23a86d;
	border: none;
	color: #fbfbfb;
	padding: 4px;
	border-radius: 15px;
}

fieldset{
	border: solid;
	border-color: rgba(209, 209, 209, .5);
}

fieldset#sexo{
	width: auto;
	margin-right: 100px; 
}

.button{
	margin: 7px 0px 7px 0px;
	padding: 10px;
	transition: background-color .5s;
	border-radius: 0px;
}

.button:hover{
	background-color: #fbfbfb;
	color: #23a86d;
}

#b-reset{
	border-radius: 15px 0px 0px 15px;
}

#b-submit{
	border-radius: 0px 15px 15px 0px;
}