@keyframes colors{
	0%{color: #7ad3ef;}
	50%{color: #10bbf1;}
	100%{color: #7ad3ef;}
}

.colors{
	animation: colors 4s infinite;
	animation-delay: .5s;
}

body{
	background-color: #2d2f31;
	color: rgba(209, 209, 209);
	font-family: Arial;
	text-align: center;
}

div#corpo{
	width: auto;
	margin: 0px 50px 0px 50px;
}

body a{
	text-decoration: none;
}

.back button{
	background-color: rgba(0,0,0,.0);
	border: 1px solid #10bbf1;
	color: #10bbf1;
	padding: 4px;
	margin: 7px 15px 7px 0px;
	padding: 10px;
	transition: background-color .5s;
	border-radius: 5px;
}
.back button:hover{
	background-color: #10bbf1;
	color: #fff;
}