@charset "UTF-8";

/* color1: #10bbf1; */

@keyframes colors{
	0%{color: #46d0fc;}
	50%{color: #10bbf1;}
	100%{color: #46d0fc;}
}

.colors{
	animation: colors 5s infinite;
	animation-delay: .5s;
}

body{
	background-color: #2d2f31;
	color: rgba(209, 209, 209);
	font-family: Arial;
}

legend{
	color: rgba(209, 209, 209);	
}

form{
	width: auto;
	margin: auto 30px auto 30px;
	background: url('icone-formulario.png') no-repeat 200% 120%;
	display: block;
}

div#corpo{
	width: auto;
	margin: 0px 50px 0px 50px;
}


input, select{
	background-color: #10bbf1;
	border: none;
	color: #fbfbfb;
	padding: 4px;
	border-radius: 2px;
}

fieldset{
	border: solid;
	border-color: rgba(255, 255, 255, .8);
}

fieldset#sexo{
	width: auto;
	margin-right: 100px; 
}

.button{
	margin: 7px 15px 7px 0px;
	padding: 10px;
	transition: background-color .2s;
	border-radius: 0px;
	
}

#b-reset{
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: rgba(0,0,0,.0);
}

#b-reset:hover{
	background-color: #fff;
	color: #10bbf1;
}

#b-submit{
	border-radius: 5px;
	border: 1px solid #10bbf1;
}
#b-submit:hover{
	background-color: #46d0fc;
}