@charset "UTF-8";

body{
	background-color: #cccccc;
	font-family: Arial;
}

legend, h1{
	color: #8c8c8c;	
}

form{
	width: auto;
	margin: auto 30px auto 30px;
	background: url('icone-formulario.png') no-repeat 200% 120%;
}

div#corpo{
	background-color: #fff;
	width: auto;
	margin: 0px 50px 0px 50px;
	box-shadow: 5px 5px 2px rgba(0,0,0,.5);
}

fieldset{
	border: solid;
	border-color: rgba(204, 204, 204, .5);
}

fieldset#sexo{
	width: auto;
	margin-right: 100px; 
}

.button{
	margin: 7px 0px 7px 0px;
}